[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "meta/zprezto"]
	path = meta/zprezto
	url = https://github.com/blackxored/prezto.git
